{% macro motive_header(motive) -%}
   You're trying to {{ motive.thing.get_behavior_display() }} {{motive.thing.verb}} {{ motive.thing.name }}
{%- endmacro %}

{% macro period_ends(period) -%}
    The current period ends in {{ period.days_left }} {{ ngettext('day', 'days', period.days_left) }}
{%- endmacro %}
