{% extends "account/base.html" %}

{% block head_title %}{{ _("Set Password") }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <h2>{{ _("Set Password") }}</h2>

        <form method="POST" action="./" class="password_set">
            {{ csrf() }}
            {# {{ crispy(form) }} #}
            {{ form.as_p() }}
            <input type="submit" name="action" value="{{ _("Set Password") }}"/>
        </form>
    </div>
  </div>
</div>
{% endblock %}

