{% extends "account/base.html" %}

{% block head_title %}{{ _("Password Reset") }}{% endblock %}

{% block page_header %}
    <h2>{{ _("Password Reset") }}</h2>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-5">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{{ _("Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.") }}</p>

        <form method="POST" action="./" class="password_reset">
            {{ csrf() }}
            {# {{ crispy(form) }} #}
            {{ form.as_p() }}
            <button class="btn" type="submit">{{ _("Reset My Password") }}</button>
        </form>

        <p>{% trans %}Please contact us if you have any trouble resetting your password.{% endtrans %}</p>
    </div>
  </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $("#id_email").focus();
    </script>
{% endblock javascript %}

