{% extends "account/base.html" %}

{% block head_title %}{{ _("Change Password") }}{% endblock %}

{% block page_header %}
    <h2>{{ _("Change Password") }}</h2>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <form method="POST" action="./" class="password_change">
            {{ csrf() }}
            {# {{ crispy(form) }} #}
            {{ form.as_p() }}
            <button class="btn" type="submit" name="action">{{ _("Change Password") }}</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}

