{% extends "account/base.html" %}

{% block head_title %}{{ _("Change Password") }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <h2>{% if token_fail %}{{ _("Bad Token" %}{% else %}{% trans "Change Password") }}{% endif %}</h2>

    {% if token_fail %}
        {{ url('account_reset_password' as passwd_reset_url) }}
        <p>{% trans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endtrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="./">
                {{ csrf() }}
                {# {{ crispy(form) }} #}
                {{ form.as_p() }}
                <button type="submit" name="action">{{ _("change password") }}</button>
            </form>
        {% else %}
            <p>{{ _("Your password is now changed.") }}</p>
        {% endif %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}

