{% extends "account/base.html" %}

{% block head_title %}{{ _("Change Password") }}{% endblock %}

{% block page_header %}
    <h2>{% if token_fail -%}
        {{ _("Bad Token") }}
    {% else %}
        {{ _("Change Password") }}
    {% endif %}</h2>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">

    {% if token_fail %}
        {% set passwd_reset_url=url('account_reset_password') %}
        <p>{% trans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endtrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="./">
                {{ csrf() }}
                {# {{ crispy(form) }} #}
                {{ form.as_p() }}
                <button type="submit" name="action">{{ _("change password") }}</button>
            </form>
        {% else %}
            <p>{{ _("Your password is now changed.") }}</p>
        {% endif %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}

