// Motive creation styles
#motive-form .form-group
  display: block
  float: left


#motive-form .form-group[class*="col-"]
  padding-left: 8px
  padding-right: 8px


#motive-form input.form-control
  width: 100%


// Motive list page
#motive-list .progress
  margin-bottom: 0


// Motive progress indicator helpers
.progress-indicators
  margin-top: 5px


.progress-indicators .progress-bar-indicator
  float: left
  border-left: 1px solid #888
  padding: 5px 10px
  line-height: 1em
  background: white
  white-space: nowrap

