{% from 'things/macros/motives.jinja' import motive_header, period_ends %}
{% extends "base.html" %}

{% block content %}

<h2>All your damn Things</h2>

<div id="motive-list" class="list-group">
{% for motive in motive_list %}
    {% set period = motive.latest_period %}
    <div class="list-group-item clearfix">
        <div class="clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">
                    <a href="{{ motive.get_detail_url() }}">
                        <span>{{ motive_header(motive) }}</span>
                    </a>
                </h4>
                {% if period %}
                <div class="list-group-item-text">
                    {# change verbiage based on behavior #}
                    {% if motive.thing.is_negative %}
                        {# Negative Thing #}
                        <p>Limit yourself to only <strong>{{ motive.thing.verb }} {{ motive.amount }}</strong> every <strong>{{ period.days_total }} days.</strong> {{ period_ends(period) }}</p>
                        {% if period.is_over_incidents %}
                            <p>Well, looks like you've gone over your limit, What ever are we going to do with you?</p>
                        {% elif period.incidents_left == 0 %}
                            <p>Hold on there bucko, you ain't got any lives to spare!</p>
                        {% else %}
                            <p>Over the next {{ period.days_left }} days you are allowed to do this {{ period.incidents_left }} more times.</p>
                        {% endif %}
                    {% else %}
                        {# Positive Thing #}
                        <p>Do more <strong>{{ motive.thing.verb }}</strong>, by doing it at least <strong>{{ motive.amount }} times</strong> every <strong>{{ period.days_total }} days.</strong> {{ period_ends(period) }}</p>
                        {% if period.is_over_incidents %}
                            <p>Looks like you're doing a good job! Keep it up!</p>
                        {% elif period.incidents_left == 0 %}
                            <p>Woot! looks like you've met your goal! See if you can do a few more before the next round.</p>
                        {% else %}
                            <p>Over the next {{ period.days_left }} days you should try doing this {{ period.incidents_left }} more times.</p>
                        {% endif %}
                    {% endif %}
                    {# TOOD: diff of days to go, humanize the time #}
                </div>
                {% endif %}
            </div>
            {# This can be moved next to the item heading somehow. #}
            <div class="pull-right">
                <form action="{{ url('things:motive_incident', motive.pk) }}" method="post">
                    {{ csrf() }}
                    <button type="submit" class="btn btn-default">I just did this.</button>
                </form>
            </div>
        </div>
    {% if period and not period.is_past_today %}
        {% set progress_bars = period.progress_bars %}
        <div class="progress">
            {% for bar in progress_bars %}
                <div class="progress-bar progress-bar-{{ bar.type }}" style="width: {{ bar.percent }}%;">{{ bar.text|default('') }}</div>
            {% endfor %}
        </div>
        <div class="progress-indicators">
            {% for bar in progress_bars %}
                <div class="progress-bar-indicator" style="width: {{ bar.percent }}%;" title="{{ bar.indi }}">{{ bar.indi|default('&nbsp;')|safe }}</div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% else %}
    <div class="list-group-item">
        <h4>You don't have any things! <a href="{{ url('things:create_motive') }}" class="btn btn-primary">Create a Thing!</a></h4>
    </div>
{% endfor %}
</div>
{# FUTURE FEATURE: limit amount of things you can create, pay to have more! #}
{% if motive_list.exists() %}
    <a href="{{ url('things:create_motive') }}" class="btn btn-primary">Add more Things!</a>
{% endif %}
{% endblock %}
