{% extends "sub_base.html" %}

{% block title %}User: {{ user_details.username }}{% endblock %}

{% block page_header %}
  <h2>{{ user_details.username }}</h2>
{% endblock %}

{% block content %}

{% if user_details == request.user %}
<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info">
        <p>This is your public profile page!</p>
    </div>
  </div>
</div>
{% endif %}

{% if waffle.flag('show_user_actions') %}
<h3>What they've been up to:</h3>
{% for action in user_details.actions.all() %}
{# check that motive is not private before showing in actions #}
{{ action }}
<br>
{% endfor %}
{% endif %}

</div>
{% endblock content %}
