{% extends "avatar/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ _("Your current avatar: ") }}</h2>
        {{ user_avatar(user) }}
        {% if not avatars %}
            <p>{{ _("You haven't uploaded an avatar yet. Please upload one now.") }}</p>
        {% endif %}
        <form enctype="multipart/form-data" method="POST" action="{{ url('avatar_add') }}">
            {{ upload_avatar_form.as_p() }}
            <p>{{ csrf() }}<input type="submit" value="{{ _("Upload New Image") }}" /></p>
        </form>
    </div>
  </div>
{% endblock %}
