{% extends "base.html" %}

{% block content %}
    <h2>What's this web thingamajig about?</h2>
    <p>You enter in things you don't want to do much of over a period of time, and M' F'in Stop keeps track of how many times you do those things. You can even track good things, the site will just attempt to make sure you don't do them too often.</p>
    <p>For example you may want to stop eating a certain food. you could tell M' F'in Stop that you wish to limit yourself in eating Chinese food to only once a month. If you tell it so, you can expect to be derided if you go over the limit.</p>
    <p>M' F'in Stop may even send you "encouraging" emails asking you how you're doing with meeting/limiting your goals. Please be honest, M' F'in Stop doesn't tolerate liars.</p>
{% endblock %}
