{% extends "sub_base.html" %}

{% block page_header %}
    <h2>What's this web thingamajig about?</h2>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <p>You enter in things you don't want to do much of over a period of time, and M' F'in STOP keeps track of how many times you do those things. You can even track good things, the site will just attempt to make sure you don't do them too often.</p>
            <p>For example you may want to stop eating a certain food. you could tell M' F'in STOP that you wish to limit yourself in eating Chinese food to only once a month. If you tell it so, you can expect to be derided if you go over the limit.</p>
            <p>M' F'in STOP may even send you "encouraging" emails asking you how you're doing with meeting/limiting your goals. Please be honest, M' F'in STOP doesn't tolerate liars.</p>
            <p class="text-muted">( whether or not we can tell whether you're a liar is deduced by our web AI algorithm hap-tic quantum process )</p>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Sound interesting?</h3>
            <p>
                <a href="{{ url('account_signup') }}" class="btn btn-lg btn-block btn-primary">Sign up!</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Who's responsible for this atrocity?</h3>
            <p>I am, Patrick Forringer. Let me know if you need to <a href="{{ url('contact') }}">get in contact with me</a>.</p>
        </div>
    </div>
{% endblock %}
