{% extends "sub_base.html" %}

{% block page_header %}
    <h2>{{ _('Contact') }} <small>someone, anyone&hellip;</small></h2>
{% endblock %}

{% block content %}
    <h3 class="text-center">Large Company Directory</h3>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <dl class="dl-horizontal">
                <dt>CEO</dt>
                <dd><a href="mailto:patrick@forringer.com?subject=M&#039; F&#039;in STOP thing">Patrick Forringer</a></dd>
            </dl>
        </div>
    </div>
{% endblock %}
